body {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: "Cookie", cursive; }

.back {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(250, 243, 224, 0.6);
  display: flex;
  align-items: center;
  justify-content: center; }

.nav {
  margin-top: 5rem;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 1fr max-content max-content 1fr;
  color: #faf3e0;
  text-shadow: -1px 0 0.75rem #1e212d, 0 1px 0.75rem #1e212d, 1px 0 0.75rem #1e212d, 0 -1px 0.75rem #1e212d; }
  @media screen and (max-width: 800px) {
    .nav {
      display: flex;
      flex-direction: column;
      padding: 1.5rem; } }
  .nav__heading {
    grid-column: 1/ 5;
    grid-row: 1 / 2;
    font-size: 5rem;
    font-weight: 100; }
    @media screen and (max-width: 800px) {
      .nav__heading {
        font-size: 3.5rem; } }
    .nav__heading-2 {
      grid-column: 2 / span 2;
      grid-row: 2 / 3;
      font-size: 3rem;
      font-weight: 100; }
      @media screen and (max-width: 800px) {
        .nav__heading-2 {
          font-size: 2rem; } }
  .nav__btns {
    font-size: 3rem;
    font-family: inherit;
    color: #faf3e0;
    background-color: #1e212d;
    padding: 1rem;
    border-radius: 1rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: forwards; }
    @media screen and (max-width: 800px) {
      .nav__btns {
        font-size: 2rem; } }
    .nav__btns:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(30, 33, 45, 0.2);
      color: #b68973; }
      .nav__btns:hover::after {
        transform: scaleX(1.4) scaleY(1.8);
        opacity: 0; }
    .nav__btns::after {
      background-color: #1e212d;
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s; }
    .nav__btns--slide {
      grid-column: 2/3;
      grid-row: 3/4; }
    .nav__btns--info {
      grid-column: 3/4;
      grid-row: 3/4;
      justify-self: start; }

.gallery {
  box-sizing: border-box;
  height: 100vh;
  background-color: #faf3e0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 0.25rem;
  padding: 1rem; }
  .gallery__item {
    margin: 0; }
    .gallery__item--1 {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2; }
    .gallery__item--2 {
      grid-row: 1 / span 3;
      grid-column: 3 / span 3; }
    .gallery__item--3 {
      grid-row: 1 / span 2;
      grid-column: 6 / 7; }
    .gallery__item--4 {
      grid-row: 1 / span 2;
      grid-column: 7 / span 2; }
    .gallery__item--5 {
      grid-row: 3 / span 3;
      grid-column: 1 / span 2; }
    .gallery__item--6 {
      grid-row: 4 / span 2;
      grid-column: 3 / span 2; }
    .gallery__item--7 {
      grid-row: 4 / 5;
      grid-column: 5 / 6; }
    .gallery__item--8 {
      grid-row: 3 / span 2;
      grid-column: 6 / span 2; }
    .gallery__item--9 {
      grid-row: 3 / span 3;
      grid-column: 8 / 9; }
    .gallery__item--10 {
      grid-row: 6 / span 2;
      grid-column: 1/ 2; }
    .gallery__item--11 {
      grid-row: 6 / span 2;
      grid-column: 2 / span 2; }
    .gallery__item--12 {
      grid-row: 6 / span 2;
      grid-column: 4/ 5; }
    .gallery__item--13 {
      grid-row: 5 / span 3;
      grid-column: 5 / span 3; }
    .gallery__item--14 {
      grid-row: 6 / span 2;
      grid-column: 8/ 9; }
      @media screen and (max-width: 800px) {
        .gallery__item--14 {
          grid-row: 1 / span 7;
          grid-column: 1 / span 8; } }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.5rem; }

.slider {
  visibility: hidden;
  transform: scale(0);
  transition: all 1s;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #1e212d 0%, rgba(30, 33, 45, 0.8) 10%, rgba(30, 33, 45, 0.7) 25%), url("../img/background-slider.jpg");
  background-size: cover;
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100vh;
  perspective: 70rem; }
  .slider__icon {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: calc(50% - 5.5rem);
    z-index: 10;
    fill: #faf3e0;
    cursor: pointer; }
    .slider__icon:hover {
      transform: scale(1.1); }
    .slider__icon:active {
      transform: scale(0.8); }
    .slider__icon-inactive {
      fill: #b68973; }
      .slider__icon-inactive:hover {
        transform: scale(1); }
    .slider__icon--right {
      right: 25%; }
    .slider__icon--left {
      left: 25%; }
    .slider__icon--close {
      top: 2rem;
      right: 2rem; }
  .slider__bottom {
    width: 100%;
    height: 6.5rem;
    position: absolute;
    bottom: 0;
    background-color: #1e212d;
    overflow-x: scroll; }
    .slider__bottom__img {
      height: 5.5rem;
      border: 0.125rem solid #1e212d;
      position: absolute;
      left: 43%;
      top: 0.125rem;
      transition: all 1s;
      cursor: pointer; }
      .slider__bottom__img:hover {
        opacity: 1 !important; }
  .slider__btn {
    position: absolute;
    left: 50%;
    z-index: 2;
    visibility: hidden;
    font-size: 3rem;
    font-family: inherit;
    color: #faf3e0;
    background-color: #1e212d;
    padding: 1rem;
    border-radius: 1rem;
    display: inline-block;
    transition: all 0.2s;
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: forwards; }
    .slider__btn::after {
      background-color: #1e212d;
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s; }
    .slider__btn--reload {
      transform: translate(-50%, -50%) scaleX(1) scaleY(1);
      top: 10rem; }
      .slider__btn--reload:hover {
        transform: translate(-50%, -50%) scaleX(0.9) scaleY(0.9);
        box-shadow: 0 1rem 2rem rgba(30, 33, 45, 0.2);
        color: #b68973; }
        .slider__btn--reload:hover::after {
          transform: translate(0, 0) scaleX(1.4) scaleY(1.8);
          opacity: 0; }
    .slider__btn--switch {
      transform: translate(-50%, 50%) scaleX(1) scaleY(1);
      top: 10rem; }
      .slider__btn--switch:hover {
        transform: translate(-50%, 50%) scaleX(0.9) scaleY(0.9);
        box-shadow: 0 1rem 2rem rgba(30, 33, 45, 0.2);
        color: #b68973; }
        .slider__btn--switch:hover::after {
          transform: translate(0, 0) scaleX(1.4) scaleY(1.8);
          opacity: 0; }

/* width */
::-webkit-scrollbar {
  height: 0.5rem; }

/* Track */
::-webkit-scrollbar-track {
  background: #1e212d; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

::-webkit-scrollbar-corner {
  background-color: #1e212d; }

.autoslide {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #b68973;
  position: absolute;
  z-index: 10;
  width: 6rem;
  height: 3rem;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem; }
  .autoslide__name {
    font-size: 1rem; }
  .autoslide__btn {
    width: 100%;
    height: 1.5rem;
    background-color: #1e212d;
    border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer; }
    .autoslide__btn__name {
      font-size: 1rem; }
    .autoslide__btn__move {
      top: 0;
      right: 0;
      position: absolute;
      width: 50%;
      height: 100%;
      background-color: #eabf9f;
      opacity: 0.2;
      border-radius: 1rem;
      transition: all 0.2s; }
      .autoslide__btn__move--left {
        left: 0 !important; }

.photo {
  max-width: 30%;
  max-height: 50%;
  top: calc(50% - 5.5rem);
  position: absolute;
  transition: all 1s; }
  .photo-prev {
    left: 5%;
    filter: brightness(0.5); }
    .photo-prev-1 {
      cursor: pointer;
      z-index: 0;
      transform: rotate3d(0, 1, 0, 45deg) translate(0, calc(-50% + 2rem)) scale(0.8, 1.1);
      opacity: 0.9; }
    .photo-prev-2 {
      z-index: -1;
      transform: rotate3d(0, 1, 0, 45deg) translate(-1rem, calc(-50% + 1rem)) scale(0.8, 1);
      opacity: 0.75; }
    .photo-prev-3 {
      z-index: -2;
      transform: rotate3d(0, 1, 0, 45deg) translate(-2rem, calc(-50% + 0rem)) scale(0.8, 0.95);
      opacity: 0.5; }
    .photo-prev-4 {
      z-index: -3;
      transform: rotate3d(0, 1, 0, 45deg) translate(-3rem, calc(-50% - 1rem)) scale(0.8, 0.9);
      opacity: 0.35; }
    .photo-prev-5 {
      z-index: -4;
      transform: rotate3d(0, 1, 0, 45deg) translate(-4rem, calc(-50% - 2rem)) scale(0.8, 0.85);
      opacity: 0.2; }
    .photo-prev-6 {
      opacity: 0;
      visibility: hidden;
      z-index: -4;
      transform: rotate3d(0, 1, 0, 45deg) translate(-4rem, calc(-50% - 2rem)) scale(0.8, 0.85); }
  .photo-curent {
    z-index: 1;
    left: 50%;
    transform: rotate3d(0, 1, 0, 0) translate(-50%, calc(-50% + 2.4rem)) scale(1.2);
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.542);
    cursor: zoom-in; }
    .photo-curent-large {
      transform: rotate3d(0, 1, 0, 0) translate(-50%, calc(-50% + 2.4rem)) scale(2);
      cursor: zoom-out; }
  .photo-next {
    left: 65%;
    filter: brightness(0.5); }
    .photo-next-1 {
      z-index: 0;
      transform: rotate3d(0, 1, 0, -45deg) translate(0, calc(-50% + 2rem)) scale(0.8, 1.1);
      opacity: 0.9;
      cursor: pointer; }
    .photo-next-2 {
      z-index: -1;
      transform: rotate3d(0, 1, 0, -45deg) translate(1rem, calc(-50% + 1rem)) scale(0.8, 1);
      opacity: 0.65; }
    .photo-next-3 {
      z-index: -2;
      transform: rotate3d(0, 1, 0, -45deg) translate(2rem, calc(-50% + 0rem)) scale(0.8, 0.95);
      opacity: 0.4; }
    .photo-next-4 {
      z-index: -3;
      transform: rotate3d(0, 1, 0, -45deg) translate(3rem, calc(-50% - 1rem)) scale(0.8, 0.9);
      opacity: 0.3; }
    .photo-next-5 {
      z-index: -4;
      transform: rotate3d(0, 1, 0, -45deg) translate(4rem, calc(-50% - 2rem)) scale(0.8, 0.85);
      opacity: 0.2; }
    .photo-next-6 {
      z-index: -4;
      transform: rotate3d(0, 1, 0, -45deg) translate(4rem, calc(-50% - 2rem)) scale(0.8, 0.85);
      visibility: hidden;
      opacity: 0;
      transition: all 2s; }

.info {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 33, 45, 0.8);
  display: flex;
  align-items: center;
  justify-content: center; }
  .info__window {
    transform: scale(0.5);
    max-width: 90%;
    max-height: 90%;
    background-color: #faf3e0;
    border-radius: 2rem;
    padding: 1rem;
    overflow: hidden;
    position: relative;
    transition: all 0.4s; }
    .info__window--large {
      transform: scale(1.5) !important; }
  .info__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: #1e212d;
    position: absolute;
    top: 1rem;
    right: 1rem; }
    .info__icon:hover {
      transform: scale(1.2);
      fill: #b68973; }
    .info__icon:active {
      transform: scale(0.9); }
  .info__img {
    max-width: 80vw;
    max-height: 80vh; }

.rotate {
  box-sizing: border-box;
  visibility: hidden;
  position: absolute;
  padding: 2rem;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 33, 45, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .rotate__icon {
    fill: #faf3e0;
    height: 5rem;
    width: 5rem; }
  .rotate__text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #faf3e0; }
